(registerPoA(string,bytes32,uint256[],uint256[],address,address);1590;339)
(getCountriesOfCampaign(bytes32);1888;383)
(rules();881;185)
(cancelCampaign(bytes32);2058;405)
(getCampaignValidity(bytes32);1033;229)
(uintToBytes(uint256);1327;295)
(getVercodesOfCampaign(bytes32);1106;251)
(getPackageNameOfCampaign(bytes32);603;141)
(getCampaignsByCountry(string);1400;317)
(getStartDateOfCampaign(bytes32);2182;449)
(getTotalCampaignsByCountry(string);2320;493)
(owner();1240;273)
(getBudgetOfCampaign(bytes32);2251;471)
(createCampaign(string,string,uint256[],uint256,uint256,uint256,uint256);456;119)
(getOwnerOfCampaign(bytes32);1775;361)
(division(uint256,uint256);2107;427)
(getEndDateOfCampaign(bytes32);387;97)
(getBidIdList();773;163)
(getPriceOfCampaign(bytes32);964;207)
(getCountryList();279;75)